// app global css in Sass form
@use './user.scss';



@font-face {
    font-family: Risque;
    src: url('./fonts/Risque-Regular.ttf');
}

.text-risque {
	font-family: Risque;
}

body {
	line-height: normal;
}

body h3 {
	font-size:1px !important;
}

::selection {
	background: rgba(255, 35, 156, 0.19);
}

a {
	color: hotpink;
}

a:hover {
	color: yellow;
}

.custom {
	color: red;
}


h1 {
	font-family: Risque;
}
