// app global css in Sass form

@font-face {
    font-family: Risque;
    src: url('./fonts/Risque-Regular.ttf');
}

body {
    font-family: Risque;
	font-size: 16px;
}

p {
    // font-size: 1.25em;
}

a {
	color: hotpink;
}

h2 {
    color: red;
}
